<section class="proyectos">
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>PROYECTOS</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/neosTerapia.png" class="card-img-top" alt="patallasoNeosTerapia">
                <div class="card-body">
                    <h5 class="card-title">Neos Terapia</h5>
                    <p class="card-text">Web publicitaria a local comercial la cual ofrece servicios terapeuticos, esta
                        aun esta en evolucion. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/variedadeStelias.png" class="card-img-top" alt="patallasoVariedadStelias">
                <div class="card-body">
                    <h5 class="card-title">VariedadeStelias</h5>
                    <p class="card-text">Este es mi proyecto, el cual fue realizado en un modo 
                    individual, este consta en el desarrollo de una web la cual puede llevar una base de datos de 
                    productos.</p>
                </div>
            </div>
        </div>        
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/reponsive.png" class="card-img-top" alt="patallasoResponsive">
                <div class="card-body">
                    <h5 class="card-title">Proyecto Responsive</h5>
                    <p class="card-text">Utilizando los lenguajes Html y Less, se aplico el modelo de responsavilidad para tres tamaños 
                        de pantallas.</p>
                </div>
            </div>
        
        </div>
    </div>
</div>
</section>
<app-skills></app-skills>
