.proyectos{
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.card{
    margin: 2rem;
    height: 22rem;
    background-color: #006fd6af;
    color:white;
    transition: 500ms;
}:hover{
    background-color: white;
    color:#006fd6af;
    transition: 500ms;
}


.card-body p{
    text-align: justify;    
}

.modal-body{
    background-color: rgb(197, 197, 240);
    p{
        color:black;
    }:hover{
        background-color:rgb(197, 197, 240) ;
    }
    video{
        width:450px;
        height:250px;
    }
    img{
        width:450px;
        height:250px;
    }
}

.modal-header{
    background-color: rgb(180, 180, 182);
}
.modal-footer{
    background-color: rgb(180, 180, 182);
    h5{
        color:black;
    }
}

.visita{
    margin-right: 1rem;
}

h2{
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .modal-body{
        video{
            width: 100%;
        }
        img{
            width:100%;
        }
    }
}