<section class="proyectos">
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>PROYECTOS</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/variedadeStelias.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">variedadeStelias</h5>
                    <p class="card-text">Este es mi proyecto, el cual fue realizado en un modo 
                    individual, este consta en el desarrollo de una web la cual puede llevar una base de datos de 
                    productos</p>
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
</section>
<app-skills></app-skills>
