<div class="container">
    <div class="row" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000">
        <!---------------------------Card futbol Cop----------------------------------->
        <div class="col"></div>
        <div class="col">
            <div class="card" style="width: 18rem;" type="button" data-bs-toggle="modal" data-bs-target="#futbolCop">
                <img src="./assets/futbolCop.png" class="card-img-top" alt="patallasofutbolCop">
                <div class="card-body">
                    <h5 class="card-title">FUTBOL COP</h5>
                    <p class="card-text">Esta es una web la cual esta diseñada para llevar el registro de los equipos en un
                        campeonato de futbol.
                    </p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<!--------------------------------modal Futbol Cop------------------------------------>

<div class="modal fade" id="futbolCop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Futbol Cop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <iframe src="https://www.appsheet.com/start/c2e39ec4-397c-454c-9d9d-31cf72036018" width="320" height="568"></iframe>
                <p align="justify">Este proyecto esta basado en una aplicación deportiva, en esta se pueden crear nuevos
                    equipos, nuevos jugadores, nuevos partidos, cabe resaltar que estos ingresos solo los puede hacer un 
                    administrador con clave de aseso, los usuarios que no tienen clave de aseso solo pueden visualizar los
                    estados de sus equipos viendo que equipos estan registrados, cuales son sus jugadores, la tabla de posiciones,
                    y tabla de goleadores.

                </p>
                <p>
                    proyecto hecho en:
                    AppSheet, Microsoft Excel.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                
            </div>
        </div>
    </div>
</div>