<section class="contactos" id="contact">
    <div class="row">
        <div class="col text-center">
            <h2>{{"contactos" | translate}}</h2>
            <hr>
        </div>
    </div>
    <div class="row formu" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="3000">
        <form action="https://formspree.io/f/meqdopej" method="post">
            <div class="row">
                <div class="col">
                    <label for="email">{{"correo" | translate}}:</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="email" id="email" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="mensaje">{{"mensaje" | translate}}:</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea name="mensaje" id="mensaje" cols="80" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit">{{"enviar" | translate}}</button>
                </div>
            </div>
        </form>
    </div>
    
</section>
<div class="row red">
    <div class="redes text-center">
        <div class="col minilogos"  data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-duration="3000">            
            <a href="https://www.linkedin.com/in/eiriselias/" target="_blank">
                <img id="linkedin" src="https://i.imgur.com/xFnDqze.png" alt="logoLikedin">
            </a>
            <a href="https://github.com/eiriselias" target="_blank">
                <img id="gitHub" src="https://i.imgur.com/gF4rWIY.png" alt="logoGitHub">
            </a>
            <a href="https://wa.link/c3imgp" target="_blank">
                <img id="whatsapp" src="https://i.imgur.com/TOA0MwZ.png" alt="logoWhatsapp">
            </a>            
        </div>
        <div class="col"  data-aos="fade-bottom" data-aos-anchor-placement="top-bottom" data-aos-duration="3000">
            <h6>{{"pie" | translate }}</h6>
        </div>
    </div>
</div>
<div class="row"></div>
