<section class="contactos" id="contact">
    <div class="row">
        <div class="col text-center">
            <h2>CONTACTOS</h2>
            <hr>
        </div>
    </div>
    <div class="row formu">
        <form action="https://formspree.io/f/meqdopej" method="post">
            <div class="row">
                <div class="col">
                    <label for="email">Su correo:</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="email" id="email" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="mensaje">Su mensaje:</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea name="mensaje" id="mensaje" cols="80" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    
</section>
<div class="row red">
    <div class="redes text-center">
        <div class="col">            
            <a href="https://www.linkedin.com/in/eiriselias/">
                <img id="linkedin" src="./assets/logos/linkedinMiniLogo.png" alt="logoLikedin">
            </a>
            <a href="https://github.com/eiriselias">
                <img id="gitHub" src="./assets/logos/gitHubMiniLogo.png" alt="logoGitHub">
            </a>
        </div>
        <div class="col">
            <h6>Developed and designed by Eiris Salazar. ©2023. All rights reserved.</h6>
        </div>
    </div>
</div>
<div class="row"></div>
