<section>
    <div class="container">
        <div class="row text-center">
            <h2>CERTIFICADOS</h2>
            <hr>
        </div>
        <div class="row">
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHtml5" aria-expanded="false" aria-controls="collapseHtml5">
                        Curso de HTML5
                        </button>
                    </h2>
                    <div id="collapseHtml5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <embed src="../../../assets/docs/diplomaHtml5.pdf" type="application/pdf" width="100%" height="500px">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGit" aria-expanded="false" aria-controls="collapseGit">
                        Curso de Git y GitHub
                        </button>
                    </h2>
                    <div id="collapseGit" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <embed src="../../../assets/docs/certificadoGitGithub.pdf" type="application/pdf" width="100%" height="500px">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCss" aria-expanded="false" aria-controls="collapseCss">
                        HTML y CSS Basico
                        </button>
                    </h2>
                    <div id="collapseCss" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <embed src="../../../assets/docs/diplomaCssOpenBootcamp.pdf" type="application/pdf" width="100%" height="500px">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefull" aria-expanded="false" aria-controls="collapsefull">
                        Desarrollador web full-stack
                        </button>
                    </h2>
                    <div id="collapsefull" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <embed src="../../../assets/docs/desarrolladorFullStack.pdf" type="application/pdf" width="100%" height="500px">
                        </div>
                    </div>
                </div> 
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesql" aria-expanded="false" aria-controls="collapsesql">
                        MySQL esencial
                        </button>
                    </h2>
                    <div id="collapsesql" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <embed src="../../../assets/docs/certificadoMySQL.pdf" type="application/pdf" width="100%" height="500px">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJava" aria-expanded="false" aria-controls="collapseJava">
                        JavaScript avanzado: Buenas Praticas
                        </button>
                    </h2>
                    <div id="collapseJava" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <embed src="../../../assets/docs/certificadoJavaScriptAvanzado.pdf" type="application/pdf" width="100%" height="500px">
                        </div>
                    </div>
                </div>  
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAngular" aria-expanded="false" aria-controls="collapseAngular">
                        Angular Js desde 0
                        </button>
                    </h2>
                    <div id="collapseAngular" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <embed src="../../../assets/docs/certificadoaAngularJs.pdf" type="application/pdf" width="100%" height="500px">
                        </div>
                    </div>
                </div> 
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePython" aria-expanded="false" aria-controls="collapsePython">
                        Python desde 0
                        </button>
                    </h2>
                    <div id="collapsePython" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <embed src="../../../assets/docs/certificadoPython.pdf" type="application/pdf" width="100%" height="500px">
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</section>
