<section class="home" id="home">
    <div class="fondo"> 
        <video class="video" autoplay muted>
            <source src="./assets/videos/fondoVideo.mp4">
        </video>
        <div class="container">
            <div class="row">
                <div class="col imagen" data-aos="zoom-in-down" data-aos-duration="3000">
                    <img src="./assets/eiris.jpg" alt="selfie">
                </div>          
                <div class="col texto">
                    <h4 data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" 
                    data-aos-duration="3000">Hola!</h4>
                    <h1 data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" 
                    data-aos-duration="3000">Soy Elias Salazar</h1>
                    <h4 data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" 
                    data-aos-duration="3000">Desarrollador Front-End</h4>
                </div>
            </div>
        </div>
    </div>

</section>