<section class="home" id="home">
    <div class="fondo"> 
        <video class="video" autoplay muted>
            <source src="./assets/videos/fondoVideo.mp4">
        </video>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="./assets/eiris.jpg" alt="selfie">
                </div>
            </div>
            <div class="row">
                <div class="col my-2 text-center">
                    <h1>Eiris Elias Salazar Aguilar</h1>
                </div>
            </div>
            <div class="row">
                <div class="col my-2 text-center">
                    <h3>Desarrollador Front-End</h3>
                </div>
            </div>
            <div class="row">
                <div class="logo text-center">
                    <img src="./assets/logos/logoAngular.png" alt="logoAngular">
                </div>
            </div>
        </div>
    </div>

</section>