section:hover{
    color:#006fd6af;
    transition: 500ms;
}

.row{
    padding:2rem 0;
}

embed:hover{
    width:630px;
    transition: 500ms;    
}

.btnCel{
    display: none;
}

@media (max-width: 767px) {
    .btnCel{
        display: block;
    }

    embed{
        display: none;
    }
}