<section>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h2>CV EN ESPAÑOL</h2>
        </div>
        <div class="col">
            <h2>CV IN ENGLISH</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h5 class="text-center">
                {{"pdfLink"|translate}}
            </h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <p>Ultima actualización 21 septiembre 2022</p>
            <a href="./assets/docs/CV2022ConLink.pdf" target="_blank">
                <button type="button" class="btnCel btn btn-primary">Ver CV</button></a>
            <embed src="./assets/docs/CV2022ConLink.pdf" type="application/pdf" width="420px" height="630px">
        </div>
        <div class="col">
            <p>Last updated 21 septiembre 2022</p>
            <a href="./assets/docs/CV PROGRAMMER-LINK.pdf" target="_blank">
                <button type="button" class="btnCel btn btn-primary">Open CV</button></a>
            <embed src="./assets/docs/CV PROGRAMMER-LINK.pdf" type="application/pdf" width="420px" height="630px">
        </div>
    </div>
</div>
</section>
