<div class="container">
    <div class="row text-center text-primary">
        <div class="col">
            <h2>CV EN ESPAÑOL</h2>
        </div>
        <div class="col">
            <h2>CV IN ENGLISH</h2>
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col">
            <embed src="./assets/docs/CV2022ConLink.pdf" type="application/pdf" width="420px" height="630px">
        </div>
        <div class="col">
            <embed src="./assets/docs/CV PROGRAMMER-LINK.pdf" type="application/pdf" width="420px" height="630px">
        </div>
    </div>
</div>

