<section class="skills" id="skillset">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>{{"habilidades" | translate}}</h2>
                <hr>
            </div>
        </div>
        <div class="row logos" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="col ver">
                <img class="logo" src="./assets/logos/logoAngular.png" alt="logoAngular">
                <span class="tip">ANGULAR</span>
            </div>
            <div class="col ver">
                <img src="./assets/logos/logoJavaScript.png" alt="logoJavaScript" class="logo">
                <span class="tip">JAVA SCRIPT</span>
            </div>
            <div class="col ver">
                <img src="./assets/logos/logoTypeScript.png" alt="logoTypeScript" class="logo">
                <span class="tip">TYPE SCRIPT</span>
            </div>
            <div class="col ver">
                <img src="./assets/logos/logoFirebase.png" alt="logoFirebase" class="logo">
                <span class="tip">FIRE BASE</span>
            </div>
            <div class="col ver">
                <img src="./assets/logos/logoPython.png" alt="logoPython" class="logo">
                <span class="tip">PYTHON</span>
            </div>
        </div>
        <div class="row logos" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="col ver">
                <img src="./assets/logos/logoHtml.png" alt="logoHtml" class="logo">
                <span class="tip">HTML</span>
            </div>
            <div class="col ver">
                <img src="./assets/logos/logoCss.png" alt="logoCss" class="logo">
                <span class="tip">CSS</span>
            </div>
            <div class="col ver">
                <img src="./assets/logos/logoGit.png" alt="logoGit" class="logo">
                <span class="tip">GIT</span>
            </div>
            <div class="col ver">
                <img src="./assets/logos/logoGitHub.png" alt="logoGitHub" class="logo">
                <span class="tip">GITHUB</span>
            </div>
            <div class="col ver">
                <img src="./assets/logos/logoNodeJs.png" alt="logoNodeJs" class="logo">
                <span class="tip">NODE JS</span>
            </div>
        </div>
        <div class="row logos" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="col ver">
                <img src="./assets/logos/logoAppSheet.png" alt="logoAppSheet" class="logo">
                <span class="tip">APPSHEET</span>
            </div>
            <div class="col ver">                
                <img src="./assets/logos/logoBash.png" alt="logoBash" class="logo">
                <span class="tip">BASH</span>                
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</section>
