<section class="skills" id="skillset">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>{{"habilidades" | translate}}</h2>
                <hr>
            </div>
        </div>
        <div class="row logos" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="col ver">
                <img class="logo" src="https://i.imgur.com/nF4ATmr.png" alt="logoAngular">
                <span class="tip">ANGULAR</span>
            </div>
            <div class="col ver">
                <img src="https://i.imgur.com/Yfryayt.png" alt="logoJavaScript" class="logo">
                <span class="tip">JAVA SCRIPT</span>
            </div>
            <div class="col ver">
                <img src="https://i.imgur.com/2hLh0R0.png" alt="logoTypeScript" class="logo">
                <span class="tip">TYPE SCRIPT</span>
            </div>
            <div class="col ver">
                <img src="https://i.imgur.com/Xlq6Kqw.png" alt="logoFirebase" class="logo">
                <span class="tip">FIRE BASE</span>
            </div>
            <div class="col ver">
                <img src="https://i.imgur.com/pitYooF.png" alt="logoPython" class="logo">
                <span class="tip">PYTHON</span>
            </div>
            <div class="col ver">
                <img src="https://i.imgur.com/NPpQhmT.png" alt="logoAppSheet" class="logo">
                <span class="tip">APPSHEET</span>
            </div>
        </div>
        <div class="row logos" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="col ver">
                <img src="https://i.imgur.com/c6lTS8w.png" alt="logoHtml" class="logo">
                <span class="tip">HTML</span>
            </div>
            <div class="col ver">
                <img src="https://i.imgur.com/kkeeC0y.png" alt="logoCss" class="logo">
                <span class="tip">CSS</span>
            </div>
            <div class="col ver">
                <img src="https://i.imgur.com/9BIdnPs.png" alt="logoGit" class="logo">
                <span class="tip">GIT</span>
            </div>
            <div class="col ver">
                <img src="https://i.imgur.com/Zcb9ELE.png" alt="logoGitHub" class="logo">
                <span class="tip">GITHUB</span>
            </div>
            <div class="col ver">
                <img src="https://i.imgur.com/P7fXRYM.png" alt="logoNodeJs" class="logo">
                <span class="tip">NODE JS</span>
            </div>
            <div class="col ver">                
                <img src="https://i.imgur.com/OGb4BKl.png" alt="logoBash" class="logo">
                <span class="tip">BOOSTSTRAP</span>                
            </div>
        </div>
    </div>
</section>
